body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9a5489;
}
.header {
    position: relative;
    background-color: #f7c1cf;
    padding-top: 80px; 
    text-align: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ca6ec4;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.header p {
    text-align: center;
}
.header img {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #6e4e40;
    padding: 6px;
    z-index: 2;
}


.header h1 {
    margin: 0;
    font-size: 26px;
    color: #5a0f1b;
}

.header p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #6b2a36;
}
nav {
    position: absolute;
    top: 18px;
    right: 30px;
    display: flex;
    gap: 15px;
    z-index: 2;
}
nav a {
    text-decoration: none;
    background-color: #f7c1cf;
    color: #5a0f1b;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}
nav a:hover {
    background-color: #5a0f1b;
    color: rgb(79, 59, 78);
}
nav a:hover {
    background-color: #5a0f1b;
    color: #926292;
    transform: translateY(-2px);
}

section {
    background-color: #d79cd5;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
section h2 {
    color: #b03060;
}
form input,
form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #71366f;
}
form input[type="submit"] {
    background-color: #b03060;
    color: rgb(220, 161, 161);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
form input[type="submit"]:hover {
    background-color: #8c234a;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: rgb(129, 57, 57);
}